<section id="features">
  <div class="container">
    <h1 class="text-center mb-5 mt-5">Our Features</h1>
    <div class="container text-center">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2 g-lg-5">
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="../../assets/rooms_feature.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h4 class="text-center">accommodation</h4>
              <p class="card-text">
                Book your ideal room now with our easy-to-use booking system.
                Search for available rooms, select your preferred dates, and
                make a secure payment all in one place.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="../../assets/food_features.jpg"
              class="card-img-top"
              alt="..."
              height="225px"
            />
            <div class="card-body">
              <h4 class="text-center">dine</h4>
              <p class="card-text">
                Discover the authentic taste of our region with our hand-picked
                selection of local cuisines. Explore the flavors and culture of
                our destination with every dish, book your table now.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="../../assets/spots_features.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h4 class="text-center">hangout</h4>
              <p class="card-text">
                Explore our customized tourism spots and experience our
                destination like never before. From hidden gems to must-see
                attractions, create unforgettable memories with our personalized
                itineraries.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="../../assets/hidden_features.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h4 class="text-center">hideout</h4>
              <p class="card-text">
                Uncover the Hidden Gems: Discover the secrets of our destination
                with our expertly curated list of off-the-beaten-path
                attractions. Plan your adventure now.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
