<div class="container">
  <div class="row">
    <h1 class="text-center mt-5 mb-5">ABOUT US</h1>
    <div class="col-sm-6 col-md-6">
      <!-- Welcome to our tourism website! We offer everything you need to plan your
      perfect trip, from booking rooms and dining options to custom tour plans
      tailored to your preferences. Our website is user-friendly, making it easy
      to plan and book your vacation. Our goal is to provide you with a
      stress-free travel experience and ensure that your trip is unforgettable.
      So why wait? Start planning your dream vacation today with us! -->
      <p>
        Welcome to our comprehensive tourism website, your one-stop-shop for all
        your travel needs. We offer a hassle-free experience to help you plan your
        next vacation from start to finish. Whether you're looking to book
        accommodation, dining options or create custom tour plans, we've got you
        covered. With our user-friendly platform, you can easily book everything
        you need for your trip in just a few clicks. We take pride in providing
        exceptional customer service and ensuring that your trip is a memorable
        one. 
      </p>
      <p>
        At our tourism website, we understand that travel preferences vary,
        which is why we offer a wide range of options to choose from. Our
        accommodation options range from budget-friendly to luxurious, and our
        dining options cater to all tastes. Moreover, we offer custom tour plans,
        tailored to your preferences, to help you create a truly unique travel
        experience. Our dedicated team of travel experts is always on hand to
        answer any questions and help you make the most of your trip. Start
        planning your next adventure with us today and let us take care of
        everything!
      </p>
    </div>
    <div class="col">
      <img src="../../assets/about_img.jpg" alt="" width="100%" />
    </div>
  </div>
</div>
